<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mechdog.kanban-balances</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/opt/ruby@3.3/bin/ruby</string>
        <string>/Users/clawdbot/clawd/kanban-rails/bin/rails</string>
        <string>balances:update</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/clawdbot/clawd/kanban-rails</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>RAILS_ENV</key>
        <string>development</string>
        <key>PATH</key>
        <string>/opt/homebrew/opt/ruby@3.3/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    
    <!-- Run 4 times per day: 00:00, 06:00, 12:00, 18:00 -->
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>6</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>12</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>18</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    
    <key>StandardOutPath</key>
    <string>/Users/clawdbot/clawd/kanban-rails/log/balance_cron.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/clawdbot/clawd/kanban-rails/log/balance_cron_error.log</string>
    
    <key>LogOutPath</key>
    <string>/Users/clawdbot/clawd/kanban-rails/log/balance_cron.log</string>
</dict>
</plist>
